<!DOCTYPE html>
<html lang="en">
 
<head>
         <meta charset="utf-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <meta name="description" content="A web interface to teach neurophysiology with NEURON/Python backend">
         <meta name="author" content="Dr. Thomas Kuenzel, RWTH Aachen">

         <title>Web NEURON Choose Experiment</title>
            <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
         <link href="static/css/bootstrap.min.css" rel="stylesheet">
</head>
 
<body>
<div class="jumbotron text-center">
  <h1>Web NEURON Test Version</h1>
  <p>Try NEURON from everywhere on every device... ;-)</p> 
</div>
<div class="container">
<p><a href="/webneuron_iclamp">Experimente Stromklemme</a></p>
<p><a href="/webneuron_vclamp">Experimente Spannungsklemme</a></p>
<p><a href="/webneuron_dendrite">Dendritische Fortleitung und synaptische Integration</a></p>
<p><a href="/webneuron_axon">Axonale Fortleitung</a></p>
</div>
</body>
</html>
